USE [warehouse_manager]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSoSanXuat]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoSanXuat](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenCoSo] [nvarchar](250) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_kiem_ke]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_kiem_ke](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[phieu_kiem_ke_id] [bigint] NOT NULL,
	[vat_lieu_id] [bigint] NOT NULL,
	[ton_he_thong] [int] NOT NULL,
	[ton_thuc_te] [int] NOT NULL,
	[chenh_lech]  AS ([ton_thuc_te]-[ton_he_thong]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_phieu_nhap]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_phieu_nhap](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[so_luong] [bigint] NULL,
	[don_gia] [decimal](18, 2) NULL,
	[thanh_tien] [decimal](18, 2) NULL,
	[don_vi_tinh] [nvarchar](250) NULL,
	[phieu_nhap_id] [bigint] NULL,
	[vat_lieu_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_phieu_xuat]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_phieu_xuat](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[so_luong_yeu_cau] [bigint] NOT NULL,
	[so_luong_thuc_xuat] [bigint] NOT NULL,
	[don_gia] [decimal](18, 2) NULL,
	[thanh_tien]  AS ([so_luong_thuc_xuat]*[don_gia]) PERSISTED,
	[don_vi_tinh] [nvarchar](50) NOT NULL,
	[phieu_xuat_id] [bigint] NOT NULL,
	[vat_lieu_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ke]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ke](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_ke] [varchar](20) NULL,
	[khu] [varchar](255) NULL,
	[mo_ta] [text] NULL,
	[so_luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_ma_ke] UNIQUE NONCLUSTERED 
(
	[ma_ke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ke_vat_lieu]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ke_vat_lieu](
	[vat_lieu_id] [bigint] NOT NULL,
	[ke_id] [bigint] NOT NULL,
 CONSTRAINT [pk_ke_vat_lieu] PRIMARY KEY CLUSTERED 
(
	[vat_lieu_id] ASC,
	[ke_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_san_pham]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_san_pham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_loai] [nvarchar](255) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_vat_lieu]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_vat_lieu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_loai] [nvarchar](255) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_dang_nhap] [varchar](100) NULL,
	[mat_khau] [varchar](250) NULL,
	[hoat_dong] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung_vai_tro]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung_vai_tro](
	[nguoi_dung_id] [bigint] NOT NULL,
	[vai_tro_id] [bigint] NOT NULL,
 CONSTRAINT [pk_nd_vt] PRIMARY KEY CLUSTERED 
(
	[nguoi_dung_id] ASC,
	[vai_tro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_cung_cap]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_cung_cap](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_nha_cung_cap] [nvarchar](250) NULL,
	[dia_chi] [varchar](255) NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_kiem_ke]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_kiem_ke](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_kiem_ke] [datetime] NOT NULL,
	[nguoi_kiem_ke] [nvarchar](250) NOT NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[ma_phieu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_nhap]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_nhap](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_nhap] [datetime] NOT NULL,
	[tong_tien] [decimal](18, 2) NULL,
	[nguoi_dung_id] [bigint] NULL,
	[ma_nha_cung_cap] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_xuat]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_xuat](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_xuat] [datetime] NOT NULL,
	[tong_tien] [decimal](18, 2) NULL,
	[co_so_san_xuat_id] [bigint] NULL,
	[nguoi_dung_id] [bigint] NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[trang_thai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_san_pham] [varchar](10) NULL,
	[gia_ban] [decimal](18, 2) NULL,
	[mau] [varchar](20) NULL,
	[ten] [nvarchar](250) NULL,
	[so_luong_ton] [int] NULL,
	[don_vi_tinh] [varchar](50) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ma_loai] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_san_pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_so_san_pham]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_so_san_pham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[san_pham_id] [bigint] NULL,
	[cpu] [varchar](100) NULL,
	[ram] [varchar](50) NULL,
	[o_cung] [varchar](100) NULL,
	[man_hinh] [varchar](100) NULL,
	[card_do_hoa] [varchar](100) NULL,
	[he_dieu_hanh] [varchar](50) NULL,
	[trong_luong] [decimal](5, 2) NULL,
	[bao_hanh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[san_pham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_vai_tro] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vat_lieu]    Script Date: 9/14/2025 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vat_lieu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_vat_lieu] [varchar](500) NULL,
	[don_gia] [decimal](18, 2) NULL,
	[don_vi_tinh] [nvarchar](250) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ten] [nvarchar](500) NULL,
	[trang_thai] [varchar](50) NULL,
	[so_luong_ton] [int] NULL,
	[ma_nha_cung_cap] [bigint] NULL,
	[ma_loai] [bigint] NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_vat_lieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoSoSanXuat] ADD  CONSTRAINT [DF_CoSoSanXuat_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[chi_tiet_phieu_nhap] ADD  CONSTRAINT [DF_chi_tiet_phieu_nhap_don_vi_tinh]  DEFAULT (N'Cái') FOR [don_vi_tinh]
GO
ALTER TABLE [dbo].[ke] ADD  DEFAULT ((0)) FOR [so_luong]
GO
ALTER TABLE [dbo].[loai_vat_lieu] ADD  CONSTRAINT [DF_loai_vat_lieu_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT ((1)) FOR [hoat_dong]
GO
ALTER TABLE [dbo].[nha_cung_cap] ADD  CONSTRAINT [DF_nha_cung_cap_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[phieu_kiem_ke] ADD  DEFAULT (getdate()) FOR [ngay_kiem_ke]
GO
ALTER TABLE [dbo].[phieu_kiem_ke] ADD  DEFAULT ('') FOR [ma_phieu]
GO
ALTER TABLE [dbo].[phieu_nhap] ADD  DEFAULT (getdate()) FOR [ngay_nhap]
GO
ALTER TABLE [dbo].[phieu_xuat] ADD  DEFAULT (getdate()) FOR [ngay_xuat]
GO
ALTER TABLE [dbo].[phieu_xuat] ADD  DEFAULT ('CHO_DUYET') FOR [trang_thai]
GO
ALTER TABLE [dbo].[san_pham] ADD  DEFAULT ((0)) FOR [so_luong_ton]
GO
ALTER TABLE [dbo].[san_pham] ADD  DEFAULT ('máy') FOR [don_vi_tinh]
GO
ALTER TABLE [dbo].[vat_lieu] ADD  CONSTRAINT [DF_vat_lieu_don_vi_tinh]  DEFAULT (N'Thùng') FOR [don_vi_tinh]
GO
ALTER TABLE [dbo].[vat_lieu] ADD  DEFAULT ((0)) FOR [so_luong_ton]
GO
ALTER TABLE [dbo].[vat_lieu] ADD  CONSTRAINT [DF_vat_lieu_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[chi_tiet_kiem_ke]  WITH CHECK ADD  CONSTRAINT [fk_ctkk_pk] FOREIGN KEY([phieu_kiem_ke_id])
REFERENCES [dbo].[phieu_kiem_ke] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_kiem_ke] CHECK CONSTRAINT [fk_ctkk_pk]
GO
ALTER TABLE [dbo].[chi_tiet_kiem_ke]  WITH CHECK ADD  CONSTRAINT [fk_ctkk_vl] FOREIGN KEY([vat_lieu_id])
REFERENCES [dbo].[vat_lieu] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_kiem_ke] CHECK CONSTRAINT [fk_ctkk_vl]
GO
ALTER TABLE [dbo].[chi_tiet_phieu_nhap]  WITH CHECK ADD  CONSTRAINT [fk_ctpn_pn] FOREIGN KEY([phieu_nhap_id])
REFERENCES [dbo].[phieu_nhap] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_phieu_nhap] CHECK CONSTRAINT [fk_ctpn_pn]
GO
ALTER TABLE [dbo].[chi_tiet_phieu_nhap]  WITH CHECK ADD  CONSTRAINT [fk_ctpn_vl] FOREIGN KEY([vat_lieu_id])
REFERENCES [dbo].[vat_lieu] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_phieu_nhap] CHECK CONSTRAINT [fk_ctpn_vl]
GO
ALTER TABLE [dbo].[chi_tiet_phieu_xuat]  WITH CHECK ADD  CONSTRAINT [fk_ctpx_px] FOREIGN KEY([phieu_xuat_id])
REFERENCES [dbo].[phieu_xuat] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_phieu_xuat] CHECK CONSTRAINT [fk_ctpx_px]
GO
ALTER TABLE [dbo].[chi_tiet_phieu_xuat]  WITH CHECK ADD  CONSTRAINT [fk_ctpx_vl] FOREIGN KEY([vat_lieu_id])
REFERENCES [dbo].[vat_lieu] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_phieu_xuat] CHECK CONSTRAINT [fk_ctpx_vl]
GO
ALTER TABLE [dbo].[ke_vat_lieu]  WITH CHECK ADD  CONSTRAINT [fk_k] FOREIGN KEY([ke_id])
REFERENCES [dbo].[ke] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ke_vat_lieu] CHECK CONSTRAINT [fk_k]
GO
ALTER TABLE [dbo].[ke_vat_lieu]  WITH CHECK ADD  CONSTRAINT [fk_vl] FOREIGN KEY([vat_lieu_id])
REFERENCES [dbo].[vat_lieu] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ke_vat_lieu] CHECK CONSTRAINT [fk_vl]
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro]  WITH CHECK ADD  CONSTRAINT [fk_ndvt_nd] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro] CHECK CONSTRAINT [fk_ndvt_nd]
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro]  WITH CHECK ADD  CONSTRAINT [fk_ndvt_vt] FOREIGN KEY([vai_tro_id])
REFERENCES [dbo].[vai_tro] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro] CHECK CONSTRAINT [fk_ndvt_vt]
GO
ALTER TABLE [dbo].[phieu_nhap]  WITH CHECK ADD  CONSTRAINT [fk_pn_ncc] FOREIGN KEY([ma_nha_cung_cap])
REFERENCES [dbo].[nha_cung_cap] ([id])
GO
ALTER TABLE [dbo].[phieu_nhap] CHECK CONSTRAINT [fk_pn_ncc]
GO
ALTER TABLE [dbo].[phieu_nhap]  WITH CHECK ADD  CONSTRAINT [fk_pn_nd] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[phieu_nhap] CHECK CONSTRAINT [fk_pn_nd]
GO
ALTER TABLE [dbo].[phieu_xuat]  WITH CHECK ADD  CONSTRAINT [fk_px_cssx] FOREIGN KEY([co_so_san_xuat_id])
REFERENCES [dbo].[CoSoSanXuat] ([Id])
GO
ALTER TABLE [dbo].[phieu_xuat] CHECK CONSTRAINT [fk_px_cssx]
GO
ALTER TABLE [dbo].[phieu_xuat]  WITH CHECK ADD  CONSTRAINT [fk_px_nd] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[phieu_xuat] CHECK CONSTRAINT [fk_px_nd]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [fk_sp_loai] FOREIGN KEY([ma_loai])
REFERENCES [dbo].[loai_san_pham] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [fk_sp_loai]
GO
ALTER TABLE [dbo].[thong_so_san_pham]  WITH CHECK ADD  CONSTRAINT [fk_ts_sp] FOREIGN KEY([san_pham_id])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[thong_so_san_pham] CHECK CONSTRAINT [fk_ts_sp]
GO
ALTER TABLE [dbo].[vat_lieu]  WITH CHECK ADD  CONSTRAINT [fk_vl_loai] FOREIGN KEY([ma_loai])
REFERENCES [dbo].[loai_vat_lieu] ([id])
GO
ALTER TABLE [dbo].[vat_lieu] CHECK CONSTRAINT [fk_vl_loai]
GO
ALTER TABLE [dbo].[vat_lieu]  WITH CHECK ADD  CONSTRAINT [fk_vl_ncc] FOREIGN KEY([ma_nha_cung_cap])
REFERENCES [dbo].[nha_cung_cap] ([id])
GO
ALTER TABLE [dbo].[vat_lieu] CHECK CONSTRAINT [fk_vl_ncc]
GO
